@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
}

.container {
  height: 100vh;
  background-image: url(../img/bg_img.png);
  background-size: cover;
}

.container__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar__logo {
  margin-left: 79px;
  text-decoration: none;
  font-family: "Ubuntu-Bold", sans-serif;
  font-size: 22px;
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.navbar__menu {
  display: flex;
  margin-right: 79px;
}

.navbar__menu,
.menu--item {
  color: #fff;
  text-decoration: none;
  font-family: "Ubuntu-Regular", sans-serif;
  font-size: 14px;
  list-style: none;
  transition: color 0.5s ease-in-out;
}

.navbar__logo:hover,
.menu--item:hover {
  color: #3cb878;
}

.ico {
  margin-left: 27px;
}

.ico--svg:hover .fill--ico {
  fill: #3cb878;
  transition: fill 0.5s ease-in-out;
}

.log--in,
.sign--in {
  margin-top: 5px;
}

.log--in::before {
  content: "";
  display: inline;
  margin: 0px 27px 0px 25px;
  border: 0.5px solid #fff;
  opacity: 0.5;
}

.sign--in::before {
  content: "or";
  display: inline;
  margin-left: 3px;
}

.container__main {
  background-color: #fff;
  box-shadow: 0px 4px 18px #00000085;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -55%);
  width: 450px;
  border-radius: 5px;
}

.external__login {
  padding: 29px 60px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.squer {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 31px;
  background-color: #3cb878;
  /* transition: transform 0.5s ease-in-out, left 0.5s ease-in-out; */
}

/* uncomment for fun */

/* .squer:hover {
  left: 18px;
  transform: scaleX(3);
} */

.extrln--hr {
  margin: 0;
  font-family: "Ubuntu-Regular";
  font-size: 20px;
  color: #434343;
}

.extrln--log {
  margin-left: 200px;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  color: #3cb878;
  transition: color 0.5s ease-in-out;
}

.extrln--log:hover {
  color: #01813f;
}

.login__btn {
  margin: 13px auto;
  width: 73%;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
}

.fbk {
  cursor: pointer;
  padding: 0;
  height: 48px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background-color: #305db8;
  transition: background-color 0.5s ease-in-out;
}

.fbk:hover {
  background-color: #022263;
}

.fbk--text {
  position: relative;
  bottom: 3px;
  margin-right: 20px;
}

.fa-facebook-f {
  font-size: 24px;
  line-height: 28px;
  padding-right: 16px;
  margin-right: 18px;
  margin-left: 15px;
  border-right: 1px solid #0a162f1a;
}

.ggl {
  cursor: pointer;
  margin-left: 4px;
  padding: 0;
  width: 160px;
  height: 48px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background-color: #df4a32;
  transition: background-color 0.5s ease-in-out;
}

.ggl--text {
  position: relative;
  bottom: 3px;
  padding-right: 27px;
}

.ggl:hover {
  background-color: #ab1f09;
}

.fa-google-plus-g {
  font-size: 24px;
  line-height: 28px;
  padding-right: 7px;
  padding-left: 12px;
  margin-right: 27px;
  border-right: 1px solid #0a162f1a;
}

.line {
  margin: 30px auto 11px;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: #848484;
  background-color: #fff;
}

.line::before {
  content: "";
  margin-right: 5px;
  width: 33%;
  height: 1px;
  background-color: #f2f2f2;
  position: relative;
  top: 9px;
}

.line::after {
  content: "";
  margin-left: 5px;
  width: 33%;
  height: 1px;
  background-color: #f2f2f2;
  position: relative;
  top: 9px;
}

.form {
  margin: 0 auto;
  width: 324px;
  display: flex;
  flex-direction: column;
}

/* input:valid {
  border-color: #01813f;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

input:invalid {
  border-color: #ab1f09;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
} */

.form--input {
  box-sizing: border-box;
  height: 44px;
  margin-bottom: 12px;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  color: #434343;
  padding: 16px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.form--input::placeholder {
  color: #bebebe;
}

.form--input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 3px 8px #00000036;
}

.agreement {
  display: flex;
  margin-bottom: 20px;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
}

.input--agreement {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000000;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.checkbox--svg {
  opacity: 0;
}

.checkbox--svg:hover .checkbox--path {
  stroke: #01813f;
  transition: stroke 0.5s ease-in-out;
}

.input--agreement:checked ~ .checkbox .checkbox--svg {
  opacity: 1;
}

.terms {
  margin-left: 5px;
  color: #3cb878;
  transition: color 0.5s ease-in-out;
}

.terms:hover {
  color: #01813f;
}

.btn--create {
  cursor: pointer;
  height: 46px;
  margin-bottom: 38px;
  font-family: "Ubuntu-Regular", sans-serif;
  font-size: 16px;
  color: #fff;
  background: #3cb878cc;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.btn--create:hover {
  background-color: #01813f;
}
