.main__container {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
	margin: 0 auto;
  width: 1366px;
}

.nav__bar {
  margin: 46px 177px 17px 161px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo {
  background-image: url(../img/logo-3.png);
  background-repeat: no-repeat;
}

.logo__img {
  width: 53px;
}

.logo:hover {
  color: #f26522;
  background-image: url(../img/logo-2.png);
  background-repeat: no-repeat;
}

.text__logo {
  margin-left: 8px;
  letter-spacing: 1px;
}

.milan {
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.holidays {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  bottom: 3px;
  left: 1px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  font-size: 18px;
}

.mail:hover,
.tel:hover {
  color: #f26522;
}

.mail {
  margin-bottom: 17px;
}

.grid__atractions {
  margin: 0px 178px 0px 165px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 220px);
  column-gap: 61px;
  row-gap: 78px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link .text {
  margin-top: 20px;
}

.link:hover {
  color: #f26522;
}

.price__details {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 7px 16px 12px 16px;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.link:hover .price__details {
  opacity: 1;
  bottom: 40px;
  background-color: #f26522;
  transition: opacity 0.5s, visibility 0.5s;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  text-align: left;
}

.from__price {
  font-size: 10px;
  padding-bottom: 8px;
}

.right {
  display: flex;
  align-self: flex-end;
  font-size: 14px;
}

.arow::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
}

.box2 > img {
  height: 225px;
}

footer {
  margin: 90px auto 15px;
  text-align: center;
  font-size: 12px;
}
