@font-face {
  font-family: "Star-Wars Episode";
  src: url(../fonts/EPISODE1.TTF);
}

@font-face {
  font-family: "Star-Wars Text";
  src: url(../fonts/Rubik-Regular.ttf);
}

.container {
  width: 100%;
  height: 100vh;
  font-family: "Star-Wars Text", sans-serif;
  font-size: 4rem;
  background-color: #000;
  background-image: url(../img/bg.jpg);
  color: #f7f70aec;
  overflow: hidden;
}

.audio {
  position: relative;
  display: block;
  top: 0px;
  left: 0px;
  opacity: 0.1;
}

.audio:hover {
  opacity: 1;
}

.perspective {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  perspective: 180px;
}

.header-episode {
  font-family: "Star-Wars Episode", sans-serif;
  font-size: 2em;
}

.zero,
.text-metal,
.span-paragraf {
  color: #ff0000;
}

.container-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  position: relative;
  transform-origin: bottom center 2000px;
  transform: rotateX(30deg);
  animation: slide-text 30s linear 1s infinite;
}

@keyframes slide-text {
  0% {
    transform-origin: bottom center 2000px;
  }
  100% {
    transform-origin: bottom center -2000px;
    transition: all 30s ease-in-out;
  }
}
