/*--- External fonts from Google ---*/
@font-face {
  font-family: "Mon";
  src: url(fonts/Montserrat-Regular.ttf);
}

body {
  font-family: "Mon", sans-serif;
}

/* ------ HEADER & NAVBAR ------ */
.header-menu {
  list-style: none;
  text-transform: uppercase;
  margin: 25px 0px;
  display: flex;
  justify-content: center;
}

.header-menu li {
  margin-right: 72px;
}

.header-menu li a {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.7px;
}

/* ---- MAIN CONTENT (IMG & TEXT) ---- */
main {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #373737;
}

main img {
  width: 100%;
}

.main-article h2 {
  margin-top: 48px;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 26.8px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.main-article p {
  width: 1145px;
  margin: 0px 67px 28px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.main-btn {
  margin: 84px 544px 82px;
}

.btn {
  padding: 18px 43px 17px 42px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background: #ff0000;
  border-radius: 4px;
}

/* ------------ FOOTER ----------- */
.footer-text {
  margin: 0px 105px 29px 713px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}
