.main__container {
  font-family: Roboto;
  margin: 0 auto;
  width: 1280px;
}

/* ----------- HEADER --------------- */
.header {
  display: flex;
  flex-direction: column;
}

/* ============== Logo ============== */

.logo {
  width: 26.1%;
  margin: 60px 0 38px;
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;
  text-decoration: none;
  color: #000;
}

.logo > span {
  color: #4bcaff;
}

/* ========== Navbar-Menu ============ */
.menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
}

.menu > a {
  padding: 25px;
  border-left: 1px solid #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.menu > a:hover {
  background-color: #222f3a;
}

/* ------------ MAIN CONTENT -----------*/

.main__content {
  display: flex;
  margin-top: 50px;
}

/* ========== Aside Navbar ============ */
.nav__aside {
  width: 27%;
  margin-right: 52px;
  border: 1px solid #000;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.nav__aside > a {
  padding: 25px 44px;
  font-size: 27px;
  text-decoration: none;
  color: #000;
  transition-duration: 0.2s;
}

.nav__aside > a:hover {
  padding-left: 88px;
  background-color: #dbdbdb;
}

/* ========== Content ================ */

.content {
  width: 70%;
  font-size: 18px;
  line-height: 24px;
}

.content > section:nth-child(1) {
  display: flex;
  border: 1px solid #000;
}

.content > section:nth-child(2) {
  margin-top: 37px;
}

section > p {
  margin-top: 37px;
}

/* ========== IMG Ramda =========== */

.content__picture {
  margin: 75px auto;
  transition-duration: 0.7s;
}

.content__picture:hover {
  transform: scale(1.3);
}

/* ------------ FOOTER -------------- */

.footer {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #63696e7a;
  font-size: 24px;
}

.footer__navbar {
  display: flex;
  justify-content: space-evenly;
}

/* ============ FOOTER MENU ======== */

.footer__navbar > a {
  padding: 18px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.footer__navbar > a:hover {
  color: #3181a6;
}

.footer__navbar > a:after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: transform 280ms ease-in-out;
  border-bottom: 1px solid #3181a6;
}

.footer__navbar > a:hover:after {
  transform: scaleX(1);
}
